div {
  position: relative;
  overflow: hidden;
}

table {
  width: 100%;
}

td.unselected {
  border-style: solid;
  border-width: 5px;
  border-color: #ca1800;
  text-align: center;
  vertical-align: middle;
  font-size: 50px;
}

td.selected {
  border-style: solid;
  border-width: 5px;
  border-color: #0d8a1e;
  text-align: center;
  vertical-align: middle;
  font-size: 50px;
}

ul > li {
  display: inline-block;
  /* You can also add some margins here to make it look prettier */
  *display:inline;
  margin: 5px;
  /* this fix is needed for IE7- */
}

li {
  text-align: center;
  vertical-align: middle;
  font-size: xx-large;
}